/* font-family: 'Caveat', cursive;
font-family: 'Julee', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: 'Julee', cursive;
    margin-left: 30px;
}

.logo img {
    width: 100px;
    height: auto;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.content {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #0a240c 0%, #010c02 28.53%, #000000 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}

.content-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.content-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.content-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.content-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
    text-align: justify;
}

.content-text a {
    display: inline-block;
    color: white;
    background: #2c422e;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-left: 10px;
}

.content-text a i {
    vertical-align: middle;
    margin-right: 5px;
}

.content-text a.instagram:hover {
    background: linear-gradient(245.59deg, #C13584 0%, #E1306C 28.53%, #F56040 75.52%);
    transform: translateX(8px);
}

.content-text a.facebook:hover {
    background: #4267B2;
    transform: translateX(8px);
}

.content-img img {
    width: 600px;
    height: auto;
    border-radius: 45px;
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #2c422e;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translate(-5px);
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .content-img img {
        width: 100%;
        height: auto;
    }

    .content-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .content-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .content-text {
        padding-top: 115px;
    }

    .content-img {
        text-align: center;
    }

    .content-img img {
        width: 560px;
        height: auto;
    }

    .content {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 45vh;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px) {
    .content-img img {
        width: 100%;
        height: auto;
    }
}