* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
    background: transparent;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 30px;
}

.logo img {
    width: 100px;
    height: auto;
}


/* NAVILIST */
.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    position: relative;
    color: white;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600;
}

.navlist a::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #fff;
    border-radius: 8px;
    transition: all .45s ease;
}

.navlist a:hover::after {
    width: 100%;
}

#menu-icon {
    color: white;
    font-size: 25px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* CONTENT */
section {
    position: relative;
    padding: 10% 19%;
}

.content {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #0a240c 0%, #010c02 28.53%, #000000 75.52%);
    position: relative;
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.content-text h1 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0 0 25px;
}

.content-text h4 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.content-text h5 {
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}

.content-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 30px;
    text-align: justify;
}

.content-text a {
    display: inline-block;
    color: white;
    background: #2c422e;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-left: 10px;
}

.content-text a i {
    vertical-align: middle;
    margin-right: 5px;
}

.content-text a.instagram:hover {
    background: linear-gradient(245.59deg, #C13584 0%, #E1306C 28.53%, #F56040 75.52%);
    transform: translateX(8px);
}

.content-text a.facebook:hover {
    background: #4267B2;
    transform: translateX(8px);
}

.content-img img {
    width: 600px;
    height: auto;
    border-radius: 45px;
}

/* MAPA */
#map {
    width: 100%;
    height: 300px;
}

.map {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .content-img img {
        width: 100%;
        height: auto;
    }

    .content-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .content-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .content-img {
        text-align: center;
    }

    .content-img img {
        width: 560px;
        height: auto;
    }

    .content {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 150px;
        height: 17vh;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px;
        transition: all .55s ease;
        border-radius: 10px 0 0 10px;
        border-left: 1px #fff solid;
        border-top: 1px #fff solid;
        border-bottom: 1px #fff solid;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist button {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px) {
    .content-img img {
        width: 100%;
        height: auto;
    }

    section {
        position: relative;
        padding: 10% 10%;
    }

    .content-text{
        text-align: center;
    }

    .content-text a {
        padding: 12px 20px;
        font-size: 12px;
    }
}
